name: docker-build

on:
  push:
    branches:
      - main
      - feature/*
      - bugfix/*
      - fix/*
      - release/*
  pull_request:
    branches: [ '*' ]

env:
  REGISTRY_IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build:
    strategy:
      matrix:
        build:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: ubuntu-latest
    runs-on: ${{ matrix.build.runner }} 
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup docker
        uses: docker/setup-buildx-action@v3     

      - name: Cache docker
        uses: actions/cache@v4
        with:
          path: /var/lib/docker
          key: docker-${{ runner.os }}-${{ hashFiles('Dockerfile') }}

      - name: Metadata docker
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE_NAME }}
          tags: type=raw,value={{date 'YYYYMMDDHHmm'}}-{{sha}}

      - name: Log in GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push docker
        id: build
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: ${{ steps.metadata.outputs.labels }}
          platforms: ${{ matrix.build.platform }}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
          provenance: mode=max
          push: true
          sbom: true

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v5
        with:
          name: digests-${{ steps.setup.outputs.platform }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    needs:
      - build
    steps:
      - name: Download digests
        uses: actions/download-artifact@v5
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true

      - name: Setup docker
        uses: docker/setup-buildx-action@v3

      - name: Metadata docker
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE_NAME }}
          tags: type=raw,value={{date 'YYYYMMDDHHmm'}}-{{sha}}

      - name: Log in GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create manifest list & push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
          $(printf '${{ env.REGISTRY_IMAGE_NAME }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE_NAME }}:${{ steps.metadata.outputs.version }}                 