name: go-build

on:
  push:
    branches:
      - main
      - feature/*
      - fix/*
      - release/*
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        go_os: [linux]
        go_arch: [amd64, arm64]    
    permissions:
      contents: read
    uses: josephrodriguez/github-workflow/.github/workflows/golang-build.yaml@6024fad3851227c25561bc1031562b9cfb6c4002
    with:
      go_version: 1.24.10
      go_build_output_name: ${{ github.event.repository.name }}
      go_build_output_dir: 'dist/${{ matrix.go_os }}/${{ matrix.go_arch }}'
      go_build_ldflags: '-s -w -X main.Version=${{ github.ref_name }}'
      go_build_gcflags: 'all=-trimpath=${PWD}'
      go_build_os: ${{ matrix.go_os }}
      go_build_arch: ${{ matrix.go_arch }}
      go_coverage_enabled: false
      go_lint_enabled: false
      go_artifacts_enabled: true
      go_artifacts_name: '${{ github.event.repository.name }}_${{ matrix.go_os }}_${{ matrix.go_arch }}.tar.gz'
      sonar_enabled: true
      sonar_project_key: 'josephrodriguez_golang-starterkit'
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  dependabot:
    needs: [build]
    permissions: write-all
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}}
    steps:
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2.4.0
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}          